<% if logged_in? %>

  <p>ログイン完了ユーザ: 
<%= current_user.name %>
<div class="col-xs-8">
      <%= render 'tasks/tasks', tasks: @tasks, user: @user %>
    </div>
<%= link_to '新規タスクの投稿', new_task_path, class: "btn btn-primary" %>
</p>
<% else %>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      
<%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>

    </div>
  </div>
<% end %>